<h2 style="text-align: center;">Users management</h2>
<h4 styyle="margin-top: 1rem ; margin-bottom : 1rem">List of users</h4>
    <div fxLayout="row wrap" *ifPermission='["getUsers"]'>
    <div fxFlex="30%" *ngFor="let u of users">
    <div class="card-col">
      <nb-card size="meduim" accent="primary" >
        <nb-card-header>  
        <div class="row show-grid">
            <div class="col-md-8">
                <h5>{{u.name}}</h5>
            </div>
            <div class="col-md-1">
                <nb-icon icon="list-outline"></nb-icon>
            </div>
            <div class="col-md-1">
               <nb-icon icon="edit-outline" (click)="openUpdateUserForm(u.id)" *ifPermission='["modify Users"]' style="margin-left: 1rem;" ></nb-icon>
            </div>
          </div>
        </nb-card-header>
        <table class="table ">
          <th scope="row">id</th>
          <td>{{u.id}}</td>
          <tr>
            <th scope="row">departement</th>
            <td>backen</td>
          </tr>
          <tr>
            <th scope="row">email</th>
            <td>{{u.email}}</td>
          </tr>
          <tr>
            <th scope="row">role</th>
            <td>{{u.role}}</td>
          </tr>
        </table>
          
      </nb-card>
    </div>
  </div>
</div>
<hr>
<h3>Roles</h3>
<div class="row show-grid">
        <div class="col-md-9">
        </div>
        <div class="col-md-2">
    <button (click)="openAddRoleForm()" status ="primary"  *ifPermission='["addRole"]' nbButton> Add Role</button>
        </div>
</div>
<div *ifPermission='["getRoles"]'>
<div class="content" *ngFor="let Role of rolesData">
  <div class="row show-grid">
    <div class="col-md-9">
      <h5>{{Role.role}}</h5>
    </div>
    <div class="col-md-1"><nb-icon icon="edit-outline" style="margin-left: 1rem;" (click)="openUpdateRoleForm(Role.id)"></nb-icon></div>
    <!-- <div class="col-md-1"><nb-icon icon="trash-2-outline" style="margin-left: 1rem;"></nb-icon></div> -->
  </div>
        <div fxLayout="row wrap"> 
            <div fxFlex="50%">
              <h6>roles Management</h6>
              <div *ngFor="let permission of Role.rolesManagementPermissions"><nb-checkbox checked>{{permission}}</nb-checkbox>
              </div>
            </div>
         <div fxLayout="row wrap">
            <div fxFlex="100%">
        <h6>users Management </h6> 
        <div *ngFor="let permission of Role.usersManagementPermissions"> <nb-checkbox checked>{{permission}}</nb-checkbox>
        </div> 
  </div>
         </div>
<ng-template #updateRoleTemplate let-data>
  <div style="width: 35rem;">
  <form (ngSubmit)="updateRole(data.id)">
    <div class="mb-3">
    <label for="RoleName" class="form-label">Role name</label>
    <input type="text" class="form-control" id="RoleName" name="RoleName" value="this.roleName" [(ngModel)]="roleName">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">permissions</label>
    <div fxLayout="row wrap"  > 
      <div fxFlex="50%" >
        <label>Users Permissions</label>
        <div *ngFor="let p of categoryUserPermissions">
        <nb-checkbox (checkedChange)="toggleUpdateRoleForm($event,p.id)" [checked]="p.checked" >{{p.permission.name}}</nb-checkbox>
        </div>
        </div>
        <div fxFlex="50%" >
        <label>Roles Permissions</label>
        <div *ngFor="let p of categoryRolePermissions">
        <nb-checkbox (checkedChange)="toggleUpdateRoleForm($event,p.id)" [checked]="p.checked" >{{p.permission.name}}</nb-checkbox>
        </div>
        </div>
        </div>    
    </div>
    <button type="submit" status ="primary" nbButton>SUBMIT</button>
    </form>
    </div>
</ng-template>
<ng-template #updateUserTemplate let-data>
  <form (ngSubmit)="updateUser(data.id)">
    <div class="mb-3">
    <label for="RoleName" class="form-label">User name</label>
    <input type="text" class="form-control" id="RoleName" name="RoleName" value="data.userName" [(ngModel)]="data.userName">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">permissions</label>
        
    <div *ngFor="let p of data.data">
      <div class="row wrap"  > 
        <div fxFlex="10%" >
    <nb-checkbox (checkedChange)="toggle($event,p.role.id)" [checked]="p.checked" >{{p.role.name}}</nb-checkbox>
    </div>
        </div>
        </div>
    </div>
    <button type="submit" status ="primary" nbButton>SUBMIT</button>
  </form>
</ng-template>
<ng-template #addRoleTemplate let-data>
  <div style="width: 35rem;">
<form (ngSubmit)="createRole()">
  <div class="mb-3">
  <h6>Role name</h6>
  <input type="text" class="form-control" id="RoleName" name="RoleName" placeholder="enter the role name" [(ngModel)]="roleName">
  </div>
 
  <h6>permissions</h6>
  <div fxLayout="row wrap"> 
            <div fxFlex="50%" >
              <label>Users Permissions</label>
  <div *ngFor="let p of categoryUserPermissions">
  <nb-checkbox (checkedChange)="addRoletoggle($event,p.id)" >{{p.name}}</nb-checkbox>
  </div>
  </div>
  <div fxFlex="50%" >
    <label>Roles Permissions</label>
  <div *ngFor="let p of categoryRolePermissions">
  <nb-checkbox (checkedChange)="addRoletoggle($event,p.id)" >{{p.name}}</nb-checkbox>
  </div>
  </div>
  </div>
  
  <button type="submit" status ="primary" nbButton >SUBMIT</button>
  </form>
</div>
</ng-template>