<h2 style="text-align: center;">Users management</h2>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>Roles List</nb-accordion-item-header>
    <nb-accordion-item-body>
      <nb-card style="margin-top: 1rem;">
        <div class="row show-grid">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
            <button (click)="openAddRoleForm()" *ifPermission='["addRole"]' nbButton>
              <nb-icon icon="plus-outline" style="margin-right: 1rem;"  ></nb-icon>
        
              Add Role</button>
                </div>
        </div>
        <div>
          <div fxLayout="row wrap" style="max-height: 60vh; overflow-y: scroll ">
          <div fxFlex="50%" class="content" *ngFor="let Role of rolesData">
            <nb-card accent="warning" >
            <nb-card-header><div class="row ">
              <div class="col-sm-10">
                <h5>{{Role.role}}</h5>
              </div>
              <div class="col-sm-2"><nb-icon *ifPermission='["modifyRole"]' icon="edit-outline" style="margin-left: 1rem;" nbTooltip="edit role permissions" (click)="openUpdateRoleForm(Role.id)"></nb-icon></div>
            </div></nb-card-header>
          <nb-card-body>
            <div class="row ">
              <div class="col-sm-6" *ngIf="Role.rolesManagementPermissions.length != 0">
                      <h6>roles Management</h6>
                        <nb-tag-list>
                          <nb-tag appearance="filled" *ngFor="let permission of Role.rolesManagementPermissions" size="tiny" [text]="permission.name" status="basic"></nb-tag>
                        </nb-tag-list>
                    </div>
                      <div class="col-sm-4" *ngIf="Role.usersManagementPermissions.length != 0">
                <h6>users Management </h6> 
                <nb-tag-list>
                  <nb-tag appearance="filled" *ngFor="let permission of Role.usersManagementPermissions" size="tiny" [text]="permission.name" status="basic"></nb-tag>
                </nb-tag-list>
                <!-- <div *ngFor="let permission of Role.usersManagementPermissions"> <nb-checkbox checked>{{permission.name}}</nb-checkbox>
          </div> -->
                 </div>
            </div>
                 <div class="row ">
                  <div class="col-sm-6" *ngIf="Role.DepartementManagementPermissions.length != 0">
                          <h6>Departement Management</h6>
                          <nb-tag-list>
                            <nb-tag appearance="filled" *ngFor="let permission of Role.DepartementManagementPermissions" size="tiny" [text]="permission.name" status="basic"></nb-tag>
                          </nb-tag-list>
                          <!-- <div *ngFor="let permission of Role.DepartementManagementPermissions"><nb-checkbox checked>{{permission.name}}</nb-checkbox>
                          </div> -->
                        </div>
                        <div class="col-sm-4" *ngIf="Role.projectManagementPermissions.length != 0">
                          <h6>project Management </h6> 
                          <nb-tag-list>
                            <nb-tag appearance="filled" *ngFor="let permission of Role.projectManagementPermissions" size="tiny" [text]="permission.name" status="basic"></nb-tag>
                          </nb-tag-list>
                      
                    </div>

                 </div>
                 <div class="row ">
                  <div class="col-sm-6" *ngIf="Role.RessourcesManagementPermissions.length != 0">
                          <h6>Ressources Management</h6>
                          <nb-tag-list>
                            <nb-tag appearance="filled" *ngFor="let permission of Role.RessourcesManagementPermissions" size="tiny" [text]="permission.name" status="basic"></nb-tag>
                          </nb-tag-list>
                          <!-- <div *ngFor="let permission of Role.DepartementManagementPermissions"><nb-checkbox checked>{{permission.name}}</nb-checkbox>
                          </div> -->
                        </div>
                        <div class="col-sm-5" *ngIf="Role.FacturesManagementPermissions.length != 0">
                          <h6>Facturation Management </h6> 
                          <nb-tag-list>
                            <nb-tag appearance="filled" *ngFor="let permission of Role.FacturesManagementPermissions" size="tiny" [text]="permission.name" status="basic"></nb-tag>
                          </nb-tag-list>
                    </div>

                 </div>
              </nb-card-body>
          </nb-card>
          </div>
          </div>
        </div>
        </nb-card>
    </nb-accordion-item-body>
   </nb-accordion-item>  
  <nb-accordion-item expanded>
    <nb-accordion-item-header>Users List</nb-accordion-item-header>
    <nb-accordion-item-body>
      <nb-card>
        <div fxLayout="row wrap"  style="margin-top: 1rem;margin-left: 1rem; max-height: 60vh; overflow-y: scroll ">
        <div fxFlex="33%" *ngFor="let u of users">
        <div class="card-col">
          <nb-card size="meduim" >
            <nb-card-header style="background-color: lightblue;">  
            <div class="row show-grid">
                <div class="col-md-2">
                  <nb-user 
                  name=""
                  picture="assets/images/{{u.image}}">
                  </nb-user>
                </div>
                <div class="col-md-8">
                  <h5 style="text-align: center;">{{u.name}}</h5>
                </div>
                <div class="col-md-1" *ngIf="currentUser.user.id!=u.id">
                  <nb-icon icon="plus-circle-outline" nbButton *ifPermission='["updateUserProjects"]' nbTooltip="assign project" (click)="openAssignProject(u.id)"></nb-icon>
                </div>
                <div class="col-md-1" *ngIf="currentUser.user.id!=u.id">
                  <nb-icon icon="edit-outline" *ifPermission='["updateUserRole"]' (click)="openUpdateUserForm(u.id)" nbButton nbTooltip="edit user role" ></nb-icon>
               </div>        
              </div> 
            </nb-card-header>
              
            <table class="table">
              <th scope="row" style="background-color:blanchedalmond;">
                <nb-icon icon="npm-outline" style="margin-right: 1rem;"  ></nb-icon>
                departement</th>
              <td style="background-color:blanchedalmond;">
                  {{u.departement[0].name}}
                </td>
              <tr >
                <th scope="row" >
                  <nb-icon icon="email-outline" style="margin-right: 1rem;"  ></nb-icon>
                  email</th>
                <td>{{u.email}}</td>
              </tr>
              <tr style="background-color:blanchedalmond;">
                <th scope="row">
                  <nb-icon icon="award-outline" style="margin-right: 1rem;"  ></nb-icon>
                  role</th>
                <td>{{u.role.name}}</td>
              </tr>
              <tr>
                <th scope="row">
                  <nb-icon icon="briefcase-outline" style="margin-right: 1rem;"  ></nb-icon>
                  projects</th>
                <td>{{u.projects.length}}</td>
              </tr>
            </table>
          </nb-card>
        </div>
      </div>
    </div>
    </nb-card>    
  </nb-accordion-item-body>
   </nb-accordion-item>
</nb-accordion>
<ng-template #updateRoleTemplate let-data>
  <div style="width: 40rem;">
  <form (ngSubmit)="updateRole(data.id)">
    <div class="mb-3">
    <label for="RoleName" class="form-label">Role name</label>
    <input type="text" class="form-control" id="RoleName" name="RoleName" value="this.roleName" [(ngModel)]="roleName">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">permissions</label>
    <div fxLayout="row wrap"  > 
      <div fxFlex="50%" >
        <label>Users Permissions</label>
        <div *ngFor="let p of categoryUserPermissions">
        <nb-checkbox (checkedChange)="toggleUpdateRoleForm($event,p.permission.id)" [checked]="p.checked" >{{p.permission.name}}</nb-checkbox>
        </div>
        </div>
        <div fxFlex="50%" >
        <label>Roles Permissions</label>
        <div *ngFor="let p of categoryRolePermissions">
        <nb-checkbox (checkedChange)="toggleUpdateRoleForm($event,p.permission.id)" [checked]="p.checked" >{{p.permission.name}}</nb-checkbox>
        </div>
        </div>
        </div>   
        <div fxLayout="row wrap"  >
          <div fxFlex="50%" >
            <label>Project Permissions</label>
        <div *ngFor="let p of categoryProjectPermissions">
        <nb-checkbox (checkedChange)="toggleUpdateRoleForm($event,p.permission.id)" [checked]="p.checked" >{{p.permission.name}}</nb-checkbox>
        </div>
            </div>
          <div fxFlex="50%" >
            <label>Departement Permissions</label>
        <div *ngFor="let p of categoryDepPermissions">
        <nb-checkbox (checkedChange)="toggleUpdateRoleForm($event,p.permission.id)" [checked]="p.checked" >{{p.permission.name}}</nb-checkbox>
        </div>
       
       
          </div>
           </div> 
    </div>
    <button type="submit" status ="primary" nbButton>SUBMIT</button>
    </form>
    </div>
</ng-template>
<ng-template #updateUserTemplate let-data>
  <div style="width: 35rem;">
  <form (ngSubmit)="updateUser(data.id)">
    <div class="mb-3">
        <h6> Select Role for {{data.userName}}</h6>
        <div fxLayout="row wrap"> 
          <div fxFlex="33%" *ngFor="let p of data.data">
    <div style="margin-left: 1rem ;">
    <nb-checkbox (checkedChange)="toggle($event,p.role.id)" [checked]="p.checked" >{{p.role.name}}</nb-checkbox>
    </div>
        </div>
        </div>
    </div>
    <button type="submit" status ="primary" nbButton>SUBMIT</button>
  </form>
</div>
</ng-template>
<ng-template #addRoleTemplate let-data>
  <form (ngSubmit)="createRole()">
  <div class="mb-3">
  <h6>Role name</h6>
  <input type="text" class="form-control" id="RoleName" name="RoleName" placeholder="enter the role name" [(ngModel)]="roleName">
  </div>
  <h6>permissions</h6>
    <div class="row"> 
                      <div class="col-sm-4" >
                        <label>Users Permissions</label>
            <div *ngFor="let p of categoryUserPermissions">
            <nb-checkbox (checkedChange)="addRoletoggle($event,p.id)" >{{p.name}}</nb-checkbox>
            </div>
            </div>
            <div class="col-sm-4" >
              <label>Roles Permissions</label>
            <div *ngFor="let p of categoryRolePermissions">
            <nb-checkbox (checkedChange)="addRoletoggle($event,p.id)" >{{p.name}}</nb-checkbox>
            </div>
            </div>
        <div class="col-sm-4">
          <label>Departements Permissions</label>
<div *ngFor="let p of categoryDepPermissions">
<nb-checkbox (checkedChange)="addRoletoggle($event,p.id)" >{{p.name}}</nb-checkbox>
</div>
</div>
            </div>

 <div class="row " > 

<div class="col-sm-4" >
<label>Projects Permissions</label>
<div *ngFor="let p of categoryProjectPermissions">
<nb-checkbox (checkedChange)="addRoletoggle($event,p.id)" >{{p.name}}</nb-checkbox>
</div>
</div>
  <div class="col-sm-4" >
    <label>Ressources Permissions</label>
<div *ngFor="let p of categoryRessourcesPermissions">
<nb-checkbox (checkedChange)="addRoletoggle($event,p.id)" >{{p.name}}</nb-checkbox>
</div>
</div>
<div class="col-sm-4">
<label>Factures Permissions</label>
<div *ngFor="let p of categoryFacturesPermissions">
<nb-checkbox (checkedChange)="addRoletoggle($event,p.id)" >{{p.name}}</nb-checkbox>
</div>
</div>
</div>
      <button type="submit" status ="primary" nbButton >SUBMIT</button>
  </form>
</ng-template>
<ng-template #assignProjectTemplate let-data>
  <div style="width: 35rem;">
<form >
  <div class="mb-3">
     <!--<h4 style="text-align: center;">Projects</h4>-->

    <div> 
     <h5 style="text-align: center;">
      Backend 
     </h5> 
      <div  fxLayout="row wrap"> 
        <div  fxFlex="50%" *ngFor="let p of backendProjects">
          <nb-checkbox (checkedChange)="ProjectToggle(p.project.id, data.user)" [checked]="p.checked" >{{p.project.name}}</nb-checkbox>
          </div>
      </div>
    </div>
    <div>
      <h6 style="text-align: center;">
        Frontend
      </h6>
      <div  fxLayout="row wrap"> 
        <div  fxFlex="50%" *ngFor="let p of frontendProjects">
          <nb-checkbox (checkedChange)="ProjectToggle(p.project.id, data.user)" [checked]="p.checked" >{{p.project.name}}</nb-checkbox>
          </div>
      </div>
    </div>
    <div>
      <h6 style="text-align: center;">
        Bankerise 
      </h6>
      <div  fxLayout="row wrap"> 
        <div  fxFlex="50%" *ngFor="let p of bankeriseProjects">
          <nb-checkbox (checkedChange)="ProjectToggle(p.project.id, data.user)" [checked]="p.checked" >{{p.project.name}}</nb-checkbox>
          </div>
      </div>
    </div>
    <div>
      <h6 style="text-align: center;">
        Mobile 
      </h6>
      <div  fxLayout="row wrap"> 
        <div  fxFlex="50%" *ngFor="let p of mobileprojects">
          <nb-checkbox (checkedChange)="ProjectToggle(p.project.id, data.user)" [checked]="p.checked" >{{p.project.name}}</nb-checkbox>
          </div>
      </div>
    </div>
  <!-- <div  fxLayout="row wrap"> 

    <div fxFlex="50%">
    <div>Backend departement Projects</div>
    <div  *ngFor="let p of backendProjects">
      <nb-checkbox (checkedChange)="ProjectToggle(p.project.id, data.user)" [checked]="p.checked" >{{p.project.name}}</nb-checkbox>
      </div>
    </div>
    <div fxFlex="50%" >
      <div>
        Frontend departement Projects
      </div>
      <div *ngFor="let p of frontendProjects">
        <nb-checkbox (checkedChange)="ProjectToggle(p.project.id, data.user)" [checked]="p.checked" >{{p.project.name}}</nb-checkbox>
        </div>
    </div>
     <div fxFlex="50%">
      <div>
        Bankerise departement Projects
      </div>
          <div *ngFor="let p of bankeriseProjects">
      <nb-checkbox (checkedChange)="ProjectToggle(p.project.id, data.user)" [checked]="p.checked" >{{p.project.name}}</nb-checkbox>
        </div>
     </div>
     
     <div fxFlex="50%">
      <div>
        Mobile departement Projects
      </div>
          <div *ngFor="let p of mobileprojects">
            <nb-checkbox (checkedChange)="ProjectToggle(p.project.id, data.user)" [checked]="p.checked" >{{p.project.name}}</nb-checkbox>
            </div>

     </div>
  
  </div> -->
  
  </div>
  </form>
</div>
</ng-template>